# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

README.txt

# licenses and credits - they are only necessary for Forge distributions, right?
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt

forge-1.8.9-11.15.1.1722-changelog.txt
